# Dependencies
node_modules/

# Logs & Traces
*.log
*.har
network_trace*
ducthinh_app/network_trace*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Temporary files & Screenshots
*.png
*.jpg
*.jpeg
scratch/
.tempmediaStorage/
